.postContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    margin: 50px auto;
}

.post{
    padding: 20px;
    border-radius: 10px;
    border: solid 2px black;
}

.post:hover{
    background-color: aliceblue;
    cursor: pointer;
}

.postCaption{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 10px;
}

.postReadTime{
    font-style: italic;
}

.newPostBtn{
    background-color: rgb(67, 230, 89);
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    margin: 10px;
}

.newPostBtn:hover{
    background-color: rgb(50, 173, 66);
}

.postBtnContainer{
    display: flex;
    gap: 10px;
}

.removePostBtn{
    background-color: rgb(239, 67, 67);
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.removePostBtn:hover{
    background-color: rgb(179, 49, 49);
}

.editPostBtn{
    background-color: rgb(79, 167, 250);
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.editPostBtn:hover{
    background-color: rgb(57, 120, 179);
}

/* new post modal */
.postModal{
    /* background-color: pink; */
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.postModal h2{
    text-align: center;
    padding-bottom: 20px;
}

.postForm{
    display: flex;
    flex-direction: column;
}

.inputPostContainer{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 10px;
}

.inputPostContainer label{
    font-size: 20px;
}

.inputPostContainer input, .inputPostContainer textarea{
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: solid 1px black;
}

.postDescription{
    height: 50px;
    overflow-y: auto;
}

.postContent{
    height: 250px;
    overflow-y: auto;
}

.postForm .newPostBtn, .postForm .editPostBtn{
    margin: 10px auto;
    width: 30%;
}

.postContainer .description{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}
